/* Font */
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sansita+Swashed:wght@300..900&family=Sofia&family=Syne:wght@400..800&family=Yellowtail&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body {
    width: 100vw;
    overflow-x: hidden;
}

/* Navbar */
header {
    height: 70px;
    width: 100%;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 90px;
    width: 100%;
    background-color: #ffffff;
    overflow-x: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}
header nav .logo {
    color: #000000;
    font-family: "Bruno Ace", sans-serif;
    margin-left: 60px;
}
header nav .navMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
}
header nav ul {
    display: flex;
    margin: 0;
    align-items: center;
}
header nav ul li {
    padding: 0px 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 17px;
    color: #000;
    font-weight: 500;
}
header nav ul li a.li {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 17px;
    color: #000000;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
header nav ul li a::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -7px;
    background-color: #caa307;
    width: 0%;
    transition: 200ms;
    height: 1px;
}
header nav ul li a:hover::before {
    width: 100%;
}
header nav ul {
    margin-right: 200px;
}
header nav .hamburger {
    display: none;
}
header nav .hamburger .bar {
    display: block;
    height: 1.88px;
    width: 32px;
    background-color: #000;
    margin: 6px 0px;
    transition: all 0.3s ease-in-out;
}
header nav .hamburger .bar:nth-child(2) {
    width: 20px;
    margin-left: 11.5px;
}
header nav .searchNCart {
    margin-left: 20px;
    position: absolute;
    right: 60px;
    z-index: 10000;
}
header nav .searchNCart input {
    position: fixed;
    inset: 90px 0px;
    z-index: 10;
    width: 100%;
    height: 50px;
    display: none;
    outline: 0;
}
header nav .searchNCart a {
    margin: 0px 10px;
    color: #000;
    font-size: 27px;
}
header nav .searchNCart #closeBtn {
    display: none;
}
header nav .searchNCart #searchIcon,
header nav .searchNCart #closeBtn {
    cursor: pointer;
}
header nav .searchNCart #searchIcon.active {
    display: none;
}
header nav .searchNCart #closeBtn.active {
    display: inline-block;
}
header nav .searchNCart input.active {
    display: inline-block;
}
/* Navbar ends */




section.registerSection {
    height: 100%;
    padding: 60px 0px;
    overflow: hidden;
    background-color: #eaeff1;
}
section.registerSection form {
    background-color: #ffffff;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15);
    padding: 50px;
    border-radius: 10px;
    font-family: "Lato", sans-serif;
}
section.registerSection form .form-check {
    margin: 17px 0px;
}
section.registerSection form .form-group small,
section.registerSection form .form-check small {
    height: 100%;
    color: #ff0000;
    display: block;
}
section.registerSection form .form-group label {
    margin: 15px 0px 5px;
    font-weight: 500;
}
section.registerSection form .form-group input {
    height: 43px;
    display: block;
    width: 100%;
    padding: 0px 0px 0px 10px;
    border-radius: 5px;
    border: 1px solid #b5b2b2;
}
section.registerSection form input[type='submit']{
    padding: 5.5px 40px;
}
section.registerSection form .form-group input:focus {
    outline: 0;
    border: 1px solid blue;
}


@media(max-width: 576px) {
    section.registerSection {
        padding: 50px 0px;
    }
    section.registerSection form {
        padding: 20px;
    }
    section.registerSection form .form-group label {
        margin: 13px 0px 5px;
        font-size: 13px;
    }
    section.registerSection form .form-group input {
        height: 36px;
        padding: 0px 0px 0px 7px;
    }
    section.registerSection form .form-group select {
        font-size: 13px;
    }
    section.registerSection form input[type='submit']{
        width: 100%;
    }
    section.registerSection form .form-group input::placeholder {
        font-size: 13px;
    }
    section.registerSection form .form-check {
        margin: 13px 0px;
    }
}



/* FOOTER STARTS HERE */
footer {
    padding: 100px 50px;
    background-color: #181717;
}
.footerWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.footerWrapper .logo {
    font-family: "Bruno Ace", sans-serif;
    color: #e2e2e2;
}
.footerWrapper h3 {
    margin-bottom: 25px;
    color: #e2e2e2;
}
.footerWrapper .helpItem> a,
.footerWrapper .companyItem> a
{
    text-decoration: none;
    color: #e2e2e2;
    display: block;
    font-family: "Lato", sans-serif;
    margin: 6px 0px;
    font-size: clamp(13px, 2vw, 1.2rem);
}
.footerWrapper i {
    font-size: clamp(18px, 2vw, 1.5rem);
    color: #e2e2e2;
    margin-right: 20px;
}









@media (max-width: 1200px) {
/* Navbar */
    header {
        position: absolute;
        z-index: 100;
        background-color: #ffffff;
        width: 100%;
        height: 65px;
    }
    header nav {
        height: 65px;
        padding: 0px 20px;
    }
    header nav .logo {
        margin-top: 12px;
        z-index: 101;
    }
    header nav .hamburger {
        display: block;
        right: 20px;
        z-index: 101;
    }
    header nav .navMenu {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        width: 100vw;
        transform: translateX(-100%);
        margin-top: 470px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 110vh;
        transition: 200ms;
    }
    header nav .navMenu.active {
        transform: translateX(0%);
        background: #ffffff;
        z-index: 99;
        position: fixed;
    }
    header nav ul {
        display: block;
        margin: 0;
    }
    header nav ul li,
    header nav .userData a,
    header nav ul li a {
        padding: 0;
        text-transform: capitalize;
        font-size: 22px;
    }
    header nav ul li {
        padding-bottom: 20px;
    }
    header nav .hamburger .bar {
        background-color: #000000;
    }
    header nav .hamburger.active {
        position: fixed;
        right: 20px;
    }
    header nav .logo.active {
        position: fixed;
    }
    header nav .hamburger.active .bar {
        transition: 400ms;
    }
    header nav .hamburger.active .bar:nth-child(1) {
        transform: translateX(8px) translateY(6px) rotate(45deg);
    }
    header nav .hamburger.active .bar:nth-child(2) {
        width: 32px;
        transform: translateX(-4px) translateY(-1px) rotate(-45deg);
    }
    header nav .searchNCart input {
        inset: 65px 0px;
    }   
/* Navbar ends */
}






@media (max-width: 768px) {
/* Navbar starts */
    header nav .logo {
        margin-left: 0px;
    }
    header nav .searchNCart {
        margin-left: 20px;
        position: absolute;
        right: 60px;
        z-index: 10000;
    }
    header nav .searchNCart a {
        margin: 0px 5px;
        color: #000;
        font-size: 21px;
    }
    header nav .searchNCart input {
        top: 65px;
        left: 0px;
        width: 100%;
        height: 50px;
    }
/* Navbar ends */

/* FOOTER */
    footer {
        padding: 50px 0px;
        background-color: #181717;
    }
    .footerWrapper h3 {
        margin-bottom: 18px;
    }
    .footerWrapper .socialIcons {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }
    .footerWrapper i {
        margin-right: 0px;
    }
}